.footer {
  max-width: 1184px;
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
}

@media (max-width:1279px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width:1023px) {
  .footer {
    margin: 88px 24px 0 24px;
  }
}

@media (max-width:767px) {
  .footer {
    margin: 64px auto 0 16px;
    padding-bottom: 0;
  }
}