.place__url-heading {
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  margin-bottom: 12px;
  margin-top: 0;
  grid-area: place__url-heading;
  letter-spacing: 2px;
  text-transform: uppercase;
}