.intro__title {
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (max-width:767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    }
}